[submodule "modules/pico"]
	path = modules/pico
	url = https://github.com/gilbitron/Pico
[submodule "modules/markdown"]
	path = modules/markdown
	url = https://github.com/michelf/php-markdown
[submodule "modules/lessphp"]
	path = modules/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "modules/3l"]
	path = modules/3l
	url = https://github.com/mateuszkocz/3l/
